*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    transition: all .4s;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .cont-box{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.container .cont-box h1, .container .cont-box p{
    text-transform: capitalize;
    text-align: left;
    color: white;
    
}

.container .cont-box p{
    margin-top: 1rem;
    
}

.cont-load{
    width: 100%;
    height: 100dvh;
    background-color: #f1f1f1;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-load .content-load{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.cont-load .content-load .load{
    width: 300px;
    height: 300px;
    border: 20px solid;
    border-radius: 50%;
    border-top: red solid 20px;
    position: relative;
    animation: load .8s infinite ease-in-out;
}

.cont-load p{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .3px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}


 @keyframes load{
    to{
        transform: rotate(360deg);
    }
 }
